<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/sign-up"> Sign Up</a>
    <a href="/login">Log In</a>
    <p>Welcome to <%= title %></p>
  </body>
</html>
