<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%=title %></h1>
    <a href="/logout">LOGOUT</a>
    <form action="" method="POST">
      <div class="sign-up-container">
        <label name="username">username:</label>
        <input type="text" name="username" required="true" />
        <label name="password">password:</label>
        <input type="password" required="true" />
        <button type="submit">Log In</button>
      </div>
    </form>
    <a href="/sign-up">Make an account</a>
    <% if(errors.length > 0) { %>
    <ul>
      <% errors.forEach(err=>{ %>
      <ul>
        <%err.msg%>
      </ul>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
