body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #52796f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

a {
  color: black;
  background-color: white;
  border-radius: 1.5rem;
  padding: 7px 9px;
  text-decoration: none;
  transform: scale(1);
  transition: transform 400ms;
  font-weight: bolder;
}
a:hover{
  transform:scale(1.2);
  transition: transform 400ms;
}
.links{
  display: flex;
  gap:20px;
  margin-bottom: 8px;


}

.full-container{
  background-color: #dad7cd;
  padding: 10px 20px;
  border-radius: 1.25rem;
}

.sign-up-container{
  display: flex;
  flex-direction: column;
  gap:2px;
}
.sign-up-container input{
  max-width: 220px;
  margin-bottom: 3px;
  background-color:#cad2c5 ;
  border: 2px black solid;
  padding: 2px 5px;
  border-radius: 5px;
}
.sign-up-container label{
  font-size: 1.2rem;
  font-weight: bolder;
}
.sign-up-container button{
  background-color:#354f52 ;
  color: white;
  border: none;
  max-width: 200px;
  padding: 10px 8px;
  border-radius: 15px;
  margin: 20px;
  border: 3px rgba(27, 27, 27, 0) solid;
  transition: border 400ms;
  transform: scale(1);
  transition: transform 400ms;
}
.sign-up-container button:hover{
  border: 3px black solid;
  transition: border 400ms;
  transform: scale(1.05);
  transition: transform 400ms;
}

.signup-h1{
  border-bottom: 3px solid black;
  padding-bottom: 3px;
  margin-right: 70px;
}

.message-container{
  display: flex;
  flex-direction: column;
  gap:25px;
}
.message{
  background-color: white;
  width: 35rem;
  padding: 10px 30px;
  border-radius: 1.4rem;

}
.message h3{
  border-bottom: solid .5px black;
  
}
.message p{
  border-left: #354f52 solid 3px;
  padding: 6px 6px;

}
.data{
  padding-top: 8px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: .7rem;
  gap: 20px;
  border-top: 1px dashed rgb(212, 212, 212)
}
.data a{
  background-color: red;
  color:white;
}
